@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 500px;
  height: 420px;
  overflow-y: auto;
}

.main-container {
  width: 100%;
  max-height: 350px;
  overflow-y: scroll;
}

.title-container {
  height: 70px;
  width: 500px;
  display: flex;
  font-weight: 800;
  box-shadow: rgb(0 0 0 / 11%) 0px 2px 30px 0px;
  background-color: #fff;
}

.logo {
  height: 50px;
  width: 50px;
  margin: 0 0.5rem;
}

.img-con {
  display: flex;
  height: 100%;
  width: 15%;
  align-items: center;
  justify-content: center;
}

.img {
  height: 90%;
}

.title {
  height: 100%;
  width: 55%;
  display: flex;
  align-items: center;
  /* padding-left: 1rem; */
  font-weight: 500;
}

.menu-icns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

.menu-icn {
  font-size: 1.5rem;
  cursor: pointer;
  color: #959595;
  transition: all;
  transition-duration: 0.25s;
}

.menu-icn:hover {
  color: #000;
}

.feature {
  height: 70px;
  width: 100%;
  display: flex;
  border-bottom: 1.5px solid #c3c3c3;
}

.feature-title {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0 1rem;
}

.icn-con {
  font-size: 2rem;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(211, 211, 211);
}


.exp-icn-con {
  font-size: 2rem;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lineChart {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1.5px solid rgb(195, 195, 195);
}

.chartContainer {
  width: 375px;
  height: 200px;
}

.networkContainer {
  width: 375px;
  height: 300px;
}

.chart {
  height: 100%;
  width: 100%;
}

.summary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1.5px solid rgb(195, 195, 195);
}

.table {
  width: 97.5%;
  display: flex;
  flex-direction: column;
  border-spacing: 0;
  border: 2px solid;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

.row {
  width: 100%;
  margin: 0;
  display: flex;
}

.tbody,
.thead {
  width: 100%;
}

.num {
  width: 15%;
}

.td {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  border-right: 1px solid;
  overflow-x: scroll;
  padding: 0.5rem;
  width: 15%;
}

.th {
  justify-content: center;
}

.url {
  width: 55%;
  justify-content: start;
}

.tbody .row {
  border-top: 2px solid;
}

.last {
  border-right: 0;
  text-align: center;
}

.exp-icn {
  cursor: pointer;
  color: #000;
  border: 100%;
  border: 1px solid;
  border-radius: 100%;
  transition-duration: 0.25s;
}

.exp-icn:hover {
  color: #fff;
  background-color: #000;
}

.info-con {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  font-size: 1rem;
  justify-content: space-evenly;
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.summaryList {
  border: 2px solid;
  width: 90%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.listItem {
  display: flex;
  width: 100%;
}

.lt-span {
  width: 50%;
}

.lt-td {
  width: 50%;
  justify-content: center;
}

.formBox {
  width: 70%;
}

.profileContainer {
  padding: 0.5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1.5px solid rgb(195, 195, 195);
}

.inputField {
  width: 100%;
  margin-top: 10px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  border: 1px solid;
  height: 2rem;
}

.profileButton {
  width: 100%;
  color: #000;
  background-color: #fff;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.getHarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1.5px solid rgb(195, 195, 195);
}

.harHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  padding: 0.5rem 0;
}

.btn {
  margin-top: 10px;
  margin-bottom: 12px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid;
  transition: all;
  transition-duration: 0.15s;
  cursor: pointer;
  font-size: 1.125rem;
  color: #000;
  background-color: #fff;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

.downloadButton {
  width: 130px;
}

.print-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1.5px solid rgb(195, 195, 195);
}

.print-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  padding: 0.5rem 0;
}

.print-btn {
  width: 200px;
}